<nav class="navbar navbar-expand-lg">
  <div class="container-fluid px-md-5">
    <a class="navbar-brand" href="#">
      <img src="/nexus.png" alt="Nexus Logo" class="imgLogo">
    </a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav align-items-center">
        <li class="nav-item">
          <a class="nav-link active-link" href="#">Início</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Serviços</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Portfólio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sobre</a>
        </li>
        <li class="nav-item ms-lg-4">
          <button class="btn-especialista">Falar com Especialista</button>
        </li>
      </ul>
    </div>
  </div>
</nav>