:root {
  --bg-dark: #0a0a0a;
  --bg-card: #151515;
  --text-white: #ffffff;
  --text-gray: #b3b3b3;
  --accent-glow: rgba(255, 255, 255, 0.1);
  --border-white: rgba(255, 255, 255, 0.2);
}

body {
  margin: 0;
  background-color: var(--bg-dark);
  font-family: 'Inter', sans-serif;
  color: var(--text-white);
}
/* Oculta para Chrome, Safari e Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Oculta para Firefox e Edge */
body {
  -ms-overflow-style: none;  /* IE e Edge */
  scrollbar-width: none;  /* Firefox */
}